.flag{
    background-color:	#FFFFFF;
    width:900px;
    height:600px;
    position: relative;
    border:black solid;
}

img{
   width:200px;
   height:200px;
   position:absolute;
   top:200px;
   left:350px;

}

.saffron{
    background-color: #FF671F;
    width:900px;
    height:200px;
}

.green{
    background-color: #046A38;
    width:900px;
    height:200px;
    position:absolute;
    top:400px;
}